<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Task name</th>
    <th>Start time</th>
    <th>Duration</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let task of tasks">
    <td style="vertical-align: middle;">{{task.name}}</td>
    <td style="vertical-align: middle;">{{task.created}}</td>
    <td style="vertical-align: middle;">{{task.estimated}}</td>
    <td><button type="button" class="btn btn-success btn-xs" style="padding: 5px 20px;" [disabled]="task.status == 'Finished'" (click)="finishTask(task.id);">Finish</button></td>
  </tr>

  </tbody>
</table>
