<br/>
<h2>My Profile</h2>
<hr/>

<div class="row">
  <div class="col-md-2">
    <img
      src="assets/images/male-user-shadow.png"
      class="img-thumbnail img-circle center-block"
      alt="Loading paw">
  </div>

  <div class="col-md-2">
    <button class="btn btn-default" (click)="onEditProfile()">Edit Profile</button>
  </div>
  <div class="col-md-2">
    <button class="btn btn-default" (click)="onProjectView()">Projects working on</button>
  </div>
</div>

  <div  class="row" >

    <div class="col-md-4" *ngIf="editProfileMode" style="margin-left: 15%;">
      <label for="username">Username:</label>
      <input
        id="username"
        type="text"
        name="username"
        placeholder={{currentUser.username}}
        [(ngModel)]="model.username"
        #username="ngModel"
        required
        [disabled]="true"/><br/><br/>

      <label for="firstname">First name:</label>
      <input
        id="firstname"
        type="text"
        name="firstname"
        placeholder= {{currentUser.firstname}}
        [(ngModel)]="model.firstname"
        #firstname="ngModel"
        required/><br/><br/>

      <label for="lastname">Last name:</label>
      <input
        id="lastname"
        type="text"
        name="lastname"
        placeholder= {{currentUser.lastname}}
        [(ngModel)]="model.lastname"
        #lastname="ngModel"
        required/><br/><br>

      <fieldset class="form-group">
        <label class=" radio-inline">
          <input
            type="radio"
            name="optionsRadios"
            id="optionsRadios1"
            value="male"
            [(ngModel)]="model.gender"
            #gender="ngModel">
          Male
        </label>
        <label class="radio-inline">
          <input
            type="radio"
            name="optionsRadios"
            id="optionsRadios2"
            value="female"
            [(ngModel)]="model.gender"
            #gender="ngModel"
            >
          Female
        </label>
      </fieldset>
      <br/><br/>
      <button class="btn btn-success" type="submit" (click)="save()">Save</button>
    </div>

    <div class="col-md-12" *ngIf="projectViewMode" style="margin-left: 30%;">
      <h2>Projects</h2>
    </div>

  </div>
<br/>
