<div class="container" id="loginbox">
  <div class="row text-center">
    <div class="col-md-4"></div>
    <div class="col-md-1">
      <hr class="bottom-line"/>
    </div>
    <div class="col-md-2"><h1>Login</h1></div>
    <div class="col-md-1">
      <hr class="bottom-line"/>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <form #loginForm="ngForm" (submit)="submitForm()">
        <div class="form-group">
          <br/>
          <input
            type="text"
            class="form-control"
            name="email"
            placeholder="Username"
            [(ngModel)]="model.username"
            #email="ngModel"
            required>
          <br/>
          <input
            type="password"
            class="form-control"
            name="password"
            placeholder="Password"
            [(ngModel)]="model.password"
            #password="ngModel"
            required>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">Login</button>
        <a class="btn btn-default">Lost your password?</a>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <hr class="bottom-line-2"/>
      <br />
      <div class="col-md-4">
        <img src="assets/images/paw.png" width="100%" alt="Paw">
      </div>
      <div class="col-md-8"><h1>Super Track</h1></div>
    </div>
  </div>
</div>
