<div class="row">
  <div class="col-md-3">
    <h4>Project stakeholders</h4>
    <p>Stakeholders by tasks</p>

    <div class="row">
      <div class="col-md-4">
        <p>User 1</p>
      </div>

      <div class="col-md-4">
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80"
               aria-valuemin="0" aria-valuemax="100" style="width:80%">
            80% Complete (success)
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <span>25</span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <p>User 1</p>
      </div>

      <div class="col-md-4">
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
               aria-valuemin="0" aria-valuemax="100" style="width:40%">
            40% Complete (success)
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <span>12</span>
      </div>
    </div>
  </div>


  <div class="col-md-3">
    <h4>Finished tasks</h4>

    <table class="table">
      <thead>
      <tr>
        <th>User</th>
        <th>Task</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>User 1</td>
        <td>Task12</td>
        <td>Finished</td>
      </tr>
      <tr>
        <td>User2</td>
        <td>Task15</td>
        <td>Finished</td>
      </tr>
      <tr>
        <td>User3</td>
        <td>Task20</td>
        <td>Finished</td>
      </tr>
      </tbody>
    </table>

  </div>

  <div class="col-md-3">
    <h4>Unfinished tasks</h4>

    <table class="table" id="unfinished" >
      <thead>
      <tr>
        <th>User</th>
        <th>Task</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>User 1</td>
        <td>Task12</td>
        <td>In progress</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
