<div class="row">
  <div class="col-md-3">
    <h4>Project stakeholders</h4>
    <p>Stakeholders by tasks</p>

    <div class="row" *ngFor="let stake of stakeHolders">
      <div class="col-md-4">
        <p>{{stake.username}}</p>
      </div>

      <div class="col-md-4">
        <div class="progress">
          <div class="progress-bar progress-bar-success " role="progressbar" [attr.aria-valuenow]="stake.finishedPercentage"
               aria-valuemin="0" aria-valuemax="100"  [style.width]="stake.finishedPercentage + '%'" style = "color: black;">
            {{stake.finishedPercentage}}% Complete (success)
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <span>{{stake.taskCount}}</span>
      </div>
    </div>
  </div>


  <div class="col-md-3">
    <h4>Finished tasks</h4>

    <table class="table">
      <thead>
      <tr>
        <th>User</th>
        <th>Task</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor = "let task of finishedTasks">
        <td>{{task.user.username}}</td>
        <td>{{task.name}}</td>
        <td><label class="label label-success">{{task.status}}</label></td>
      </tr>
      </tbody>
    </table>

  </div>

  <div class="col-md-3">
    <h4>Unfinished tasks</h4>

    <table class="table" id="unfinished" >
      <thead>
      <tr>
        <th>User</th>
        <th>Task</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor = "let task of inProgressTasks">
        <td>{{task.user.username}}</td>
        <td>{{task.name}}</td>
        <td><label class="label label-primary">{{task.status}}</label></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
