<div *ngIf="user!=null" class="col-md-3 well sidebarHeight">
  <div id="profile-sidebar">

    <div class="row">
      <div class="col-md-4">
        <img
          src="assets/images/paw.png"
          class="img-thumbnail img-circle center-block"
          alt="Loading paw">
      </div>
      <div class="col-md-8">
        <h2>Super Track</h2>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="col-md-4">
        <img
          id="profile-image"
          class="img-thumbnail img-circle center-block"
          src="assets/images/default-user-image.png"
          alt="Loading profile image...">
      </div>
      <div class="col-md-8" style="padding-top: 5%">
        <p>Welcome,</p>
        <p>{{user.firstname}} {{user.lastname}}</p>
        <button class="btn btn-default" (click)="onLogout()">Logout</button>
      </div>
    </div>

    <br/>
    <br/>

    <div class="row">
      <div class="col-xs-2 col-md-2">
        <i class="fa fa-home fa-2x pull-right" aria-hidden="true"></i>
      </div>
      <div class="col-xs-10 col-md-10">
        <a class="default-link-color" routerLinkActive="link-active" routerLink="/dashboard">Dashboard</a>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-xs-2 col-md-2">
        <i class="fa fa-line-chart fa-2x pull-right" aria-hidden="true"></i>
      </div>
      <div class="col-xs-10 col-md-10">
        <a class="default-link-color" routerLinkActive="link-active" routerLink="/project-management">Project Management</a>
      </div>
    </div>
    <br/>
    <div class="row" *ngIf="user.role.name==='ADMIN'">
      <div class="col-xs-2 col-md-2">
        <i class="fa fa-user fa-2x pull-right" aria-hidden="true"></i>
      </div>
      <div class="col-xs-10 col-md-10">
        <a  class="default-link-color" routerLinkActive="link-active" routerLink="/user-management">User Management</a>
      </div>
    </div>

  </div>
</div>
