<div class="row">
  <div class="col-md-2">
    <h3>Project name:</h3>
  </div>
  <div class="col-md-3" style="padding-top: 1%">
    <select class="form-control" [(ngModel)]="selectedProject" (ngModelChange)="onProjectChange($event)"  >
      <!--<option value=""></option>-->
      <option *ngFor="let up of userProjectsForDropDown" [ngValue]="up">{{ up.name }}</option>
    </select>
  </div>
</div>
<br />
<app-project-gantt [tasks]="tasks"></app-project-gantt>
<br />
<app-project-statistics [finishedTasks]="finishedTasks" [inProgressTasks]="inProgressTasks" [stakeHolders]="stakeHolders" ></app-project-statistics>
