<div class="row">
  <div class="col-md-2 rightBorder">
        <div class="row">
          <div class="col-xs-2 col-md-2">
            <i class="fa fa-user fa-2x" aria-hidden="true"></i>
          </div>
          <div class="col-xs-10 col-md-10" style="padding-top: 2%">
            <p>Total users</p>
          </div>
        </div>
        <h1>2500</h1>
  </div>

  <div class="col-md-2 rightBorder">
    <div class="row">
      <div class="col-xs-2 col-md-2">
        <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>
      </div>
      <div class="col-xs-10 col-md-10" style="padding-top: 2%">
        <p>Average time</p>
      </div>
    </div>
    <h1>123.50h</h1>
  </div>

  <div class="col-md-2 rightBorder">
    <div class="row">
      <div class="col-xs-2 col-md-2">
        <i class="fa fa-user fa-2x" aria-hidden="true"></i>
      </div>
      <div class="col-xs-10 col-md-10" style="padding-top: 2%">
        <p>Total males</p>
      </div>
    </div>
    <h1>1250</h1>
  </div>

  <div class="col-md-2">
    <div class="row">
      <div class="col-xs-2 col-md-2">
        <i class="fa fa-user fa-2x" aria-hidden="true"></i>
      </div>
      <div class="col-xs-10 col-md-10" style="padding-top: 2%">
        <p>Total females</p>
      </div>
    </div>
    <h1>1250</h1>
  </div>
</div>
